@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 255, 255, 255;
  --background-start-rgb: 15, 16, 20;
  --background-end-rgb: 15, 16, 20;
}

body {
  color: rgb(var(--foreground-rgb));
  background: #0F1014;
  font-family: 'Inter', sans-serif; /* Ensure you have a font loaded */
}

/* Custom Scrollbar for Sidebar */
::-webkit-scrollbar {
  width: 6px;
  height: 6px;
}
::-webkit-scrollbar-track {
  background: #0F1014;
}
::-webkit-scrollbar-thumb {
  background: #2A2D35;
  border-radius: 3px;
}
::-webkit-scrollbar-thumb:hover {
  background: #00E676;
}
